#screen {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.unselectable {
  -webkit-user-select: none;
		 -moz-user-select: none;
  		-ms-user-select: none;
  				user-select: none;
}