/*#screen {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}*/

.unselectable {
  -webkit-user-select: none;
		 -moz-user-select: none;
  		-ms-user-select: none;
  				user-select: none;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

canvas {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
@font-face {
    font-family: MenuFont;
    src: url(../menu/FatCat.otf);
    font-weight:400;
}